.mainbar {
  .aboutbar {
    width: 100%;
    position: relative;
    .imgbar {
      width: 100%;
      height: 250px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .about {
      display: block;
      .textabout {
        display: block;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
        h2 {
          font-size: 45px;
          color: #fff;
          font-weight: 700;
        }
      }
    }
  }
  .credobar {
    display: flex;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
    padding: 80px 30px;
    .mainimg {
      width: 58%;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      margin-top: 30px;
      .credodata {
        width: 520px;
        height: 400px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .textcredo {
      display: block;
      width: 40%;
      h2 {
        font-size: 30px;
        color: #555;
        font-weight: 600;
      }
      p {
        font-size: 15px;
        color: #777;
        line-height: 25px;
      }
    }
  }
  .About {
    position: relative;
    .Aboutproject {
      background: #d9d8df;
      .Aboutmainpro {
        width: 1080px;
        margin: 0 auto;
        padding: 50px 0px;
        display: flex;
        gap: 30px;
        .mainproject {
          display: block;
          width: 20%;
          .maintext {
            display: block;
            h2 {
              font-size: 20px;
              color: #aa8a4b;
              font-weight: 600;
            }
            .mainurl {
              display: block;
              a {
                text-decoration: none;
                font-size: 16px;
                color: #777;
                display: block;
                padding: 10px 0px;
              }
            }
          }
        }
        .mainimageproject {
          width: 78%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .imagetext {
            width: 100%;
            padding-top: 25px;
            display: flex;
            gap: 20px;
            img {
              width: 100%;
            }
            .dataproject {
              display: block;
              .textmain {
                padding: 20px 0px;
                h2 {
                  font-size: 20px;
                  color: #aa8a4b;
                  font-weight: 600;
                  padding: 0;
                  margin: 0;
                }
                p {
                  font-size: 13px;
                  color: #777;
                  padding: 0;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
    .clientbar {
      width: 100%;
      position: relative;
      width: 100%;
      margin: 0 auto;
      img {
        width: 100%;
        height: 400px;
      }
      .mainclient {
        width: 1100px;
        margin: 0 auto;
        position: absolute;
        top: -40px;
        left: 6%;
        .headbar {
          display: block;
          background: #446084;
          border-radius: 40px;
          padding: 40px 0px;
          width: 100%;
          .headrbar {
            display: block;
            text-align: center;
            h2 {
              font-size: 30px;
              color: #fff;
              font-weight: 600;
              padding: 10px 0px;
              margin: 0;
            }
          }
          .middlebar {
            background: #aa8a4b;
            width: 100%;
            padding: 40px 0px;
            position: relative;
            .owl-nav {
              display: flex;
              position: absolute;
              top: 0;
            }
            .middlebox {
              display: flex;
              gap: 30px;
              align-items: center;
              width: 950px;
              margin: 0 auto;
              img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
              }
              .maintextbar {
                display: block;
                p {
                  font-size: 18px;
                  color: #d9d8df;
                  font-style: italic;
                }
                span {
                  font-size: 18px;
                  color: #d9d8df;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 360px) and (max-device-width: 767px) {
  .mainbar {
    .aboutbar {
      width: 100%;
      position: relative;
      .about {
        .textabout {
          h2 {
            font-size: 30px;
            color: #fff;
            font-weight: 700;
          }
        }
      }
    }
  }
}
