.feturesbar {
  background: #f6f6ed;
  width: 100%;
  .wrapper {
    width: 100%;
    margin: 0 auto;
    .featers {
      display: block;
      .linebar {
        width: 1100px;
        margin: 0 auto;
        display: flex;
        position: relative;
        padding-top: 10px;
        h2 {
          width: 100%;
          height: 2px;
          border-radius: 5px;
          background: #ddd;
        }
        .featersproj {
          display: flex;
          position: absolute;
          background: #f6f6ed;
          padding: 10px 50px;
          left: 32%;
          top: 0px;
          span {
            font-size: 31px;
            color: #555;
            font-weight: 500;
          }
        }
      }
      .mainfeters {
        display: flex;
        width: 100%;
        padding-top: 30px;
        .RESIDENCE {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: #f6f6ed;
          margin-top: 50px;
          h2 {
            font-size: 60px;
            font-weight: 600;
            color: #555;
            text-align: center;
            padding: 0;
            margin: 0;
          }
          p {
            font-size: 16px;
            color: #555;
            text-align: center;
            line-height: 1.6;
            padding: 0px 117px;
          }
          a {
            font-size: 16px;
            color: #dfd5bc;
            text-align: center;
            text-decoration: none;
            line-height: 70px;
          }
        }
        .imgbar {
          width: 50%;
          .imgbox {
            width: 100%;
            display: flex;
            position: relative;
            img {
              width: 100%;
              height: 600px;
            }
            .owl-dots {
              position: absolute;
              bottom: 10px;
              left: 50%;
              transform: translateX(-50%);
            }
          }
          .roopbar {
            display: flex;
            background: #fff;
            padding: 10px 0px;
            margin-top: -3px;
            width: 100%;
            .roobmain {
              width: 32%;
              display: flex;
              height: 150px;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              border-right: solid 1px #ddd;
              &:last-child {
                border: none;
              }
              h2 {
                font-size: 20px;
                color: #baa67c;
                font-weight: 500;
                padding: 0;
                margin: 0;
              }
              p {
                font-size: 16px;
                color: #555;
                font-weight: 300;
                padding: 0;
                margin: 0;
                line-height: 25px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 360px) and (max-device-width: 767px) {
  .feturesbar {
    .wrapper {
      width: 100%;
      .featers {
        .linebar {
          width: 329px;
          margin: 0 auto;
          position: relative;
          .featersproj {
            display: flex;
            position: absolute;
            background: #f6f6ed;
            padding: 10px 10px;
            left: 11%;
            bottom: -23px;
            span {
              font-size: 25px;
              color: #555;
              font-weight: 500;
            }
          }
        }
        .mainfeters {
          display: block;
          width: 100%;
          .RESIDENCE {
            width: 100%;
            margin-top: 50px;
            h2 {
              font-size: 40px;
              font-weight: 600;
              color: #555;
              text-align: center;
              padding: 0;
              margin: 0;
            }
            p {
              font-size: 16px;
              color: #555;
              text-align: center;
              line-height: 1.6;
              padding: 0px 32px;
            }
            a {
              font-size: 16px;
              color: #dfd5bc;
              text-align: center;
              text-decoration: none;
              line-height: 70px;
            }
          }
          .imgbar {
            width: 100%;
            .imgbox {
              width: 100%;
              img {
                width: 100%;
                height: 300px;
              }
            }
            .roopbar {
              flex-wrap: wrap;
              .roobmain {
                width: 100%;
                border: none;
                border-bottom: solid 1px #ddd;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-device-width: 992px) {
  .feturesbar {
    .wrapper {
      width: 100%;
      .featers {
        .linebar {
          width: 329px;
          margin: 0 auto;
          position: relative;
          .featersproj {
            display: flex;
            position: absolute;
            background: #f6f6ed;
            padding: 10px 10px;
            left: 11%;
            bottom: -23px;
            span {
              font-size: 25px;
              color: #555;
              font-weight: 500;
            }
          }
        }
        .mainfeters {
          display: block;
          width: 100%;
          .RESIDENCE {
            width: 100%;
            margin-top: 50px;
            h2 {
              font-size: 40px;
              font-weight: 600;
              color: #555;
              text-align: center;
              padding: 0;
              margin: 0;
            }
            p {
              font-size: 16px;
              color: #555;
              text-align: center;
              line-height: 1.6;
              padding: 0px 32px;
            }
            a {
              font-size: 16px;
              color: #dfd5bc;
              text-align: center;
              text-decoration: none;
              line-height: 70px;
            }
          }
          .imgbar {
            width: 100%;
            .imgbox {
              width: 100%;
              img {
                width: 100%;
                height: 300px;
                object-fit: cover;
              }
            }
            .roopbar {
              flex-wrap: wrap;
              .roobmain {
                width: 100%;
                border: none;
                border-bottom: solid 1px #ddd;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 993px) and (max-device-width: 1170px) {
  .feturesbar {
    background: #f6f6ed;
    width: 100%;
    .wrapper {
      width: 100%;
      margin: 0 auto;
      .featers {
        display: block;
        .linebar {
          width: 1100px;
          margin: 0 auto;
          display: flex;
          position: relative;
          padding-top: 10px;
          h2 {
            width: 100%;
            height: 2px;
            border-radius: 5px;
            background: #ddd;
          }
          .featersproj {
            display: flex;
            position: absolute;
            background: #f6f6ed;
            padding: 10px 50px;
            left: 32%;
            top: 0px;
            span {
              font-size: 31px;
              color: #555;
              font-weight: 500;
            }
          }
        }
        .mainfeters {
          display: flex;
          width: 100%;
          padding-top: 30px;
          .RESIDENCE {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #f6f6ed;
            margin-top: 50px;
            h2 {
              font-size: 60px;
              font-weight: 600;
              color: #555;
              text-align: center;
              padding: 0;
              margin: 0;
            }
            p {
              font-size: 16px;
              color: #555;
              text-align: center;
              line-height: 1.6;
              padding: 0px 117px;
            }
            a {
              font-size: 16px;
              color: #dfd5bc;
              text-align: center;
              text-decoration: none;
              line-height: 70px;
            }
          }
          .imgbar {
            width: 50%;
            .imgbox {
              width: 100%;
              display: flex;
              position: relative;
              img {
                width: 100%;
                height: 600px;
              }
              .owl-dots {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
              }
            }
            .roopbar {
              display: flex;
              background: #fff;
              padding: 10px 0px;
              margin-top: -3px;
              width: 100%;
              .roobmain {
                width: 32%;
                display: flex;
                height: 150px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-right: solid 1px #ddd;
                &:last-child {
                  border: none;
                }
                h2 {
                  font-size: 20px;
                  color: #baa67c;
                  font-weight: 500;
                  padding: 0;
                  margin: 0;
                }
                p {
                  font-size: 16px;
                  color: #555;
                  font-weight: 300;
                  padding: 0;
                  margin: 0;
                  line-height: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}
