.headerbar {
  position: relative;
  .bannerimg {
    display: block;
    width: 100%;
    img {
      width: 100%;
      height: 580px;
      object-fit: cover;
    }
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(7, 15, 43, 0.622);
  }
  .mainnav {
    width: 100%;
    margin: auto;
    position: absolute;
    z-index: 11;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    .mainhead {
      display: flex;
      width: 1100px;
      margin: 0 auto;
      gap: 32px;
      align-items: center;
      .logo {
        width: 150px;
        height: 80px;
        img {
          width: 130px;
          height: 80px;
        }
      }
      .navbar {
        display: block;
        ul {
          list-style: none;
          display: flex;
          gap: 18px;
          padding: 0;
          margin: 0;
          li {
            padding: 10px 0px;
            a {
              font-size: 13px;
              color: #9da2ad;
              text-decoration: none;
              gap: 15px;
              i {
                padding: 5px 5px;
              }
              &:hover {
                color: #d0d0d4;
              }
            }
          }
        }
      }
      .iconbar {
        display: block;
        i {
          font-size: 35px;
          color: #fff;
        }
      }
      .inquery {
        position: relative;
        a {
          font-size: 14px;
          color: #9da2ad;
          text-decoration: none;
          border-radius: 20px;
          border: solid 1px #9da2ad;
          padding: 7px 30px;
          &:hover {
            background: #aa8a4b;
            color: #d0d0d4;
          }
        }
        .emailbar {
          position: absolute;
          top: 10%;
          left: 10px;
          i {
            color: #d0d0d4;
          }
        }
      }
      .searchbar {
        display: block;
        position: relative;
        width: 145px;
        .searchvalue {
          input {
            background-color: hsla(0, 0%, 100%, 0.2) !important;
            border-color: hsla(0, 0%, 100%, 0.09);
            border: none;
            outline: none;
            padding: 10px 10px;
            border-radius: 20px;
            border: 1px solid #ddd;
            width: 100%;
            &::placeholder {
              color: #d0d0d4;
              font-size: 12px;
            }
          }
          .mainserch {
            position: absolute;
            top: 52px;
            background: #fff;
            border-radius: 20px;
            width: 308px;
            right: -90px;
            ul {
              list-style: none;
              display: block;
              li {
                padding: 10px 0px;
                a {
                  text-decoration: none;
                  font-size: 14px;
                  color: #000;
                  border-bottom: solid 1px #000;
                  padding: 10px 0px;
                }
              }
            }
          }
        }
        .search {
          display: flex;
          position: absolute;
          top: 30%;
          right: 10px;
          i {
            color: #fff;
            font-size: 14px;
            font-weight: 700;
          }
        }
      }
      .responsibe {
        display: none;
        span {
          display: block;
          width: 20px;
          height: 2px;
          margin-top: 4px;
          background: #fff;
        }
      }
      .crossbar {
        display: flex;
        justify-content: end;
        padding: 10px 20px;
        cursor: pointer;
        span {
          display: block;
          font-size: 18px;
          font-weight: 700;
          color: #fff;
        }
      }
      .mainheadres {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 99999999;
        overflow: hidden;
        transition: 0.6s;
        padding-top: 50px;
        width: 0;
        background: #000;

        .searchbardata {
          display: flex;
          justify-content: center;
          position: relative;
          input {
            background-color: hsla(0, 0%, 100%, 0.2) !important;
            border-color: hsla(0, 0%, 100%, 0.09);
            border: none;
            outline: none;
            padding: 13px 20px;
            border-radius: 52px;
            border: 1px solid #ddd;
            width: 225px;
            &::placeholder {
              color: #d0d0d4;
              font-size: 12px;
            }
          }
        }
        .homebar {
          display: block;
          ul {
            list-style: none;
            display: block;
            padding: 0;
            margin: 0;
            li {
              padding: 20px 27px;
              border-bottom: solid 1px #d0d0d4;
              a {
                font-size: 13px;
                color: #9da2ad;
                text-decoration: none;
                gap: 15px;
                i {
                  padding: 5px 5px;
                }
                &:hover {
                  color: #d0d0d4;
                }
              }
            }
          }
        }
      }
    }
  }
  .maintext {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    width: 100%;
    .textbar {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;

      h2 {
        font-size: 29px;
        color: #fff;
        font-weight: 300;
        padding: 0;
        margin: 0;
        letter-spacing: 1px;
      }
      p {
        font-size: 14px;
        color: #fff;
      }
      .knowbar {
        display: block;
        margin-top: 20px;
        a {
          font-size: 16px;
          text-decoration: none;
          color: #fff;
          font-weight: 500;
          border: solid 1px #fff;
          padding: 10px 20px;
        }
      }
    }
  }
}

@media screen and (min-device-width: 360px) and (max-device-width: 767px) {
  .headerbar {
    width: 100%;
    .bannerimg {
      width: 100%;
    }
    .mainnav {
      width: 100%;
      .mainhead {
        width: 100%;
        display: flex;
        gap: 32px;
        align-items: center;
        position: relative;
        z-index: 11;
        .responsibe {
          display: flex;
          margin-left: 20px;
          flex-direction: column;
          position: absolute;
          top: 30px;
          left: 5px;
          span {
            display: block;
            width: 20px;
            height: 2px;
            margin-top: 4px;
            background: #fff;
          }
        }
        .logo {
          display: flex;
          margin: auto;
          width: 140px;
          justify-content: center;
          img {
            width: 100%;
          }
        }
        .navbar {
          display: none;
        }
        .iconbar {
          display: none;
        }
        .inquery {
          display: none;
        }
        .searchbar {
          display: none;
        }
      }
      .textbar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
        height: 100vh;
        h2 {
          font-size: 24px;
          color: #fff;
          font-weight: 300;
          padding: 0px 58px;
          margin: 0;
          display: block;
          text-align: center;
        }
        p {
          font-size: 13px;
          color: #fff;
          padding: 0px 46px;
          text-align: center;
        }
        .knowbar {
          display: block;
          text-align: center;
          a {
            font-size: 11px;
            text-decoration: none;
            color: #fff;
            font-weight: 500;
            border: solid 1px #fff;
            padding: 7px 20px;
            text-align: center;
          }
        }
      }
    }
  }
  .maintext {
    text-align: center;
    .textbar {
      padding: 0px 10px;
      h2 {
        font-size: 27px !important;
      }
    }
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 992px) {
  .headerbar {
    width: 100%;
    .bannerimg {
      width: 100%;
    }
    .mainnav {
      width: 100%;
      .mainhead {
        width: 100%;
        display: flex;
        gap: 32px;
        align-items: center;
        position: relative;
        z-index: 11;
        .responsibe {
          display: flex;
          margin-left: 20px;
          flex-direction: column;
          position: absolute;
          top: 30px;
          left: 5px;
          span {
            display: block;
            width: 20px;
            height: 2px;
            margin-top: 4px;
            background: #fff;
          }
        }
        .logo {
          display: flex;
          margin: auto;
          width: 140px;
          justify-content: center;
          img {
            width: 100%;
          }
        }
        .navbar {
          display: none;
        }
        .iconbar {
          display: none;
        }
        .inquery {
          display: none;
        }
        .searchbar {
          display: none;
        }
      }
      .textbar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
        height: 100vh;
        h2 {
          font-size: 24px;
          color: #fff;
          font-weight: 300;
          padding: 0px 58px;
          margin: 0;
          display: block;
          text-align: center;
        }
        p {
          font-size: 13px;
          color: #fff;
          padding: 0px 46px;
          text-align: center;
        }
        .knowbar {
          display: block;
          text-align: center;
          a {
            font-size: 11px;
            text-decoration: none;
            color: #fff;
            font-weight: 500;
            border: solid 1px #fff;
            padding: 7px 20px;
            text-align: center;
          }
        }
      }
    }
  }
  .maintext {
    text-align: center;
    .textbar {
      padding: 0px 10px;
      h2 {
        font-size: 27px !important;
      }
    }
  }
}
@media screen and (min-device-width: 993px) and (max-device-width: 1099px) {
  .headerbar {
    position: relative;
    .bannerimg {
      display: block;
      width: 100%;
      img {
        width: 100%;
        height: 580px;
        object-fit: cover;
      }
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(7, 15, 43, 0.622);
    }
    .mainnav {
      width: 100%;
      margin: auto;
      position: absolute;
      z-index: 11;
      top: 0;
      background-color: rgba(0, 0, 0, 0.4);
      .mainhead {
        display: flex;
        width: 1100px;
        margin: 0 auto;
        gap: 32px;
        align-items: center;
        .logo {
          width: 150px;
          height: 80px;
          img {
            width: 130px;
            height: 80px;
          }
        }
        .navbar {
          display: block;
          ul {
            list-style: none;
            display: flex;
            gap: 18px;
            padding: 0;
            margin: 0;
            li {
              padding: 10px 0px;
              a {
                font-size: 13px;
                color: #9da2ad;
                text-decoration: none;
                gap: 15px;
                i {
                  padding: 5px 5px;
                }
                &:hover {
                  color: #d0d0d4;
                }
              }
            }
          }
        }
        .iconbar {
          display: block;
          i {
            font-size: 35px;
            color: #fff;
          }
        }
        .inquery {
          position: relative;
          a {
            font-size: 14px;
            color: #9da2ad;
            text-decoration: none;
            border-radius: 20px;
            border: solid 1px #9da2ad;
            padding: 7px 30px;
            &:hover {
              background: #aa8a4b;
              color: #d0d0d4;
            }
          }
          .emailbar {
            position: absolute;
            top: 10%;
            left: 10px;
            i {
              color: #d0d0d4;
            }
          }
        }
        .searchbar {
          display: block;
          position: relative;
          width: 145px;
          .searchvalue {
            input {
              background-color: hsla(0, 0%, 100%, 0.2) !important;
              border-color: hsla(0, 0%, 100%, 0.09);
              border: none;
              outline: none;
              padding: 10px 10px;
              border-radius: 20px;
              border: 1px solid #ddd;
              width: 100%;
              &::placeholder {
                color: #d0d0d4;
                font-size: 12px;
              }
            }
            .mainserch {
              position: absolute;
              top: 52px;
              background: #fff;
              border-radius: 20px;
              width: 308px;
              right: -90px;
              ul {
                list-style: none;
                display: block;
                li {
                  padding: 10px 0px;
                  a {
                    text-decoration: none;
                    font-size: 14px;
                    color: #000;
                    border-bottom: solid 1px #000;
                    padding: 10px 0px;
                  }
                }
              }
            }
          }
          .search {
            display: flex;
            position: absolute;
            top: 30%;
            right: 10px;
            i {
              color: #fff;
              font-size: 14px;
              font-weight: 700;
            }
          }
        }
        .responsibe {
          display: none;
          span {
            display: block;
            width: 20px;
            height: 2px;
            margin-top: 4px;
            background: #fff;
          }
        }
        .crossbar {
          display: flex;
          justify-content: end;
          padding: 10px 20px;
          cursor: pointer;
          span {
            display: block;
            font-size: 18px;
            font-weight: 700;
            color: #fff;
          }
        }
        .mainheadres {
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          z-index: 99999999;
          overflow: hidden;
          transition: 0.6s;
          padding-top: 50px;
          width: 0;
          background: #000;

          .searchbardata {
            display: flex;
            justify-content: center;
            position: relative;
            input {
              background-color: hsla(0, 0%, 100%, 0.2) !important;
              border-color: hsla(0, 0%, 100%, 0.09);
              border: none;
              outline: none;
              padding: 13px 20px;
              border-radius: 52px;
              border: 1px solid #ddd;
              width: 225px;
              &::placeholder {
                color: #d0d0d4;
                font-size: 12px;
              }
            }
          }
          .homebar {
            display: block;
            ul {
              list-style: none;
              display: block;
              padding: 0;
              margin: 0;
              li {
                padding: 20px 27px;
                border-bottom: solid 1px #d0d0d4;
                a {
                  font-size: 13px;
                  color: #9da2ad;
                  text-decoration: none;
                  gap: 15px;
                  i {
                    padding: 5px 5px;
                  }
                  &:hover {
                    color: #d0d0d4;
                  }
                }
              }
            }
          }
        }
      }
    }
    .maintext {
      position: absolute;
      top: 50%;
      z-index: 1;
      transform: translateY(-50%);
      width: 100%;
      .textbar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;

        h2 {
          font-size: 29px;
          color: #fff;
          font-weight: 300;
          padding: 0;
          margin: 0;
          letter-spacing: 1px;
        }
        p {
          font-size: 14px;
          color: #fff;
        }
        .knowbar {
          display: block;
          margin-top: 20px;
          a {
            font-size: 16px;
            text-decoration: none;
            color: #fff;
            font-weight: 500;
            border: solid 1px #fff;
            padding: 10px 20px;
          }
        }
      }
    }
  }
}
